<mat-card class="strength-checker">
  <h2>Check Password Strength</h2>
  <form [formGroup]="strengthForm" (ngSubmit)="checkStrength()">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="strengthForm.get('password')?.hasError('required')">
        Password is required.
      </mat-error>
      <mat-error *ngIf="strengthForm.get('password')?.hasError('minlength')">
        Minimum length is 4 characters.
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent" [disabled]="strengthForm.invalid">Check Strength</button>
  </form>
  <p *ngIf="strength">Password Strength: <strong>{{ strength }}</strong></p>
</mat-card>
